.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: royalblue;
}

.search-form {
    display: flex;
    width: 400px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
}

.search-form>input {
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 15px;
}
.search-form>input:focus{
    outline: none;
}

.search-form>button {
    width: 10%;
    height: 100%;
    border: none;
}